<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>contact</title>
    <!-- Css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default color-fill navbar-fixed-top">
        <div class="col-md-12">
            <div class="nav">
                <button class="btn-nav">
                    <span class="icon-bar top"></span>
                    <span class="icon-bar middle"></span>
                    <span class="icon-bar bottom"></span>
                </button>
            </div>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
                <ul class="nav-list vcenter">
                    <li class="nav-item"><a class="item-anchor" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="item-anchor" href="{% url 'about' %}">About Me</a></li>
                    <li class="nav-item"><a class="item-anchor" href="{% url 'portfolio' %}">Portfolio</a></li>
                    <li class="nav-item"><a class="item-anchor" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="item-anchor" href="{% url 'guestbook' %}">Guestbook</a></li>
                    <li class="nav-item"><a class="item-anchor" href="{% url 'personal_history' %}">Personal History</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        What the hell are you waiting for? <br>
                        Say hello to me!
                    </h1>
                    <h4><a href="mailto:hello@echoestemplate.com">hello@echoestemplate.com</a></h4>
                </div>
            </div>
            <div class="row margin-top-45">
                <div class="col-md-12">
                    <img class="img-responsive margin-top-45" src="{% static 'img/5.jpg' %}" alt="me">
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- script -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
