<!DOCTYPE html>
<html lang="zh">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>JF</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>JF</h1>
    <h2>Just Friends<br>
        Just Flirt<br>
        Just Fuck<br>
    </h2>
    <center>
        {% if user.is_authenticated %}
        <button class="indexbtn" onclick="location.href='{% url "logout" %}'"><span>Log Out</span></button>
        <button class="indexbtn" onclick="location.href='{% url "password_change" %}'"><span>Reset Password</span></button>
        {% else %}
        <button class="indexbtn" onclick="location.href='{% url "login" %}'"><span>Log In</span></button>
        <button class="indexbtn" onclick="location.href='{% url "signup" %}'"><span>Create Account</span></button>
        {% endif %}
    </center>
</body>

</html>
