{% extends 'base.html' %}
{% csrf_token %}
{% block content %}
<div id="container">
    <div class="gtco-loader"></div>
    
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
   
                    <div class="col-xs-8 text-center menu-1">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#gtco-team">About</a></li>
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </div>
                </div>
    
            </div>
        </nav>
    
        <div class="content-section">
          <div class="media">
              <center>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
          
            <div class="media-body">

            </div>
            <div>
                
            </div>
              </center>
          </div>
          <!-- FORM HERE -->
        </div>
    </div>
{% endblock content %}