{% extends 'base.html' %}
{% csrf_token %}
{% block content %}

<div id="container">
    <div class="gtco-loader"></div>
    
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
   
                    <div class="col-xs-8 text-center menu-1">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#gtco-team">About</a></li>
                            <li><a href="/">Contact</a></li>
                        </ul>
                    </div>
                </div>
    
            </div>
        </nav>
    
        <div class="content-section">
          <div class="media">
              <center>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
          
            <div class="media-body">
            </div>
            <div>
            <!--Content-->
            <div class='container '>
              <div class="row border">
                  <div class="col-6">
                      個人頁面
                      <div>Content</div>
                  </div>
                  <div class="col-6">
                    <div>清單</div>  
                    {% for i in test %}
                    <div class="row">
                        <div class="col-4 border">{{i}}
                            <a href="../account/profile/{{i}}">
                                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" height="50" width="50">
                            </a>
                            <div>姓名:{{i}}</div>
                            <div>速配指數：</div>   
       
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>          
            </div>
              </center>
          </div>
          <!-- FORM HERE -->
        </div>
    </div>
{% endblock content %}