{% load static %}
<head>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
</head>
<div id="weather"></div>

<script type="text/javascript">

    var lat;
    var lon;
    var json;
    var pos;

    function getWeather() {
      xhr = new XMLHttpRequest();

      xhr.onload = function() {
        var response = JSON.parse(this.responseText);
        var city = response.city.name + ", " + response.city.country;
        var weatherTitle = response.list[0].weather[0].main;
        var temp = response.list[0].main.temp + "°";

        var weatherContainer = document.querySelector("#weather");
        weatherContainer.innerHTML = city + "<br/>" + weatherTitle + "<br/>" + temp;
      };
      xhr.open(
        "GET",
        "https://api.openweathermap.org/data/2.5/forecast?APPID=9c39fa3ce9d953fdd507d7d9f77093ef&units=metric" +
          lat +
          lon,
        true
      );
      xhr.send();
    }

    function getLocation() {
      xhr = new XMLHttpRequest();
      xhr.open(
        "POST",
        "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyD27byCiGJqgSBbiqpRwk-s69D5nl9oWEw",
        true
      );
      xhr.onload = function() {
        // do something
        var response = JSON.parse(this.responseText);
        lat = String("&lat=" + response.location.lat);
        lon = String("&lon=" + response.location.lng);
        pos = {
          'lat': lat,
          'lon': lon
        }
        json = pos;

        getWeather();
      };
      xhr.send();
    }

    getLocation();

    $.ajax({
        type: "POST",
        url: {% url 'weather' %},
        data: json,
        contentType: 'application/json',
        datatype: "json",
        success: function (data) {
             alert("it worked!");
        },
        error: function (data) {
             alert("it didnt work");
        }
    });

    // function makeRequest(){
    //   xhr = new XMLHttpRequest();
    //   xhr.open( 'POST','https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDIHHXeYB_Hsf21AAaQX8qd5Y2NDsckUbI');
    //   xhr.onload = function(){
    //     // do something
    //     var response = JSON.parse(this.responseText);
    //     console.log(response)
    //   }
    //   xhr.send();
    // }
    //
    // makeRequest();



</script>
